node-red/flows.json
[{"id":"8e3dae77.2b0e1","type":"tab","label":"Janus","disabled":false,"info":""},{"id":"983d8884.0e0c58","type":"tab","label":"Nodes","disabled":false,"info":""},{"id":"1413c39b.1b391c","type":"subflow","name":"Handle Gates","info":"Handle gate states and messages","category":"","in":[{"x":320,"y":360,"wires":[{"id":"c45f4e32.2efe8"},{"id":"b5b7629d.46757"},{"id":"d25ce82e.8ae918"}]}],"out":[]},{"id":"acf214e0.5d8368","type":"subflow","name":"TX Telegram","info":"","category":"","in":[{"x":540,"y":160,"wires":[{"id":"de6aedb9.d1f99"}]}],"out":[]},{"id":"c0d7e3a7.9516f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4a731906.628d48","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"JanusVPS","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a7800071.8aa72","type":"ui_group","z":"","name":"Home Gates","tab":"1c979d26.9d96c3","disp":true,"width":"13","collapse":false},{"id":"1c979d26.9d96c3","type":"ui_tab","z":"","name":"Erasmus Home","icon":"dashboard"},{"id":"2f4e5a55.3805d6","type":"telegram bot","z":"","botname":"janus_vps_bot","usernames":"janus_erasmus","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"f3ed241f.996fa8","type":"mqtt in","z":"8e3dae77.2b0e1","name":"","topic":"/node/up/+","qos":"2","broker":"4a731906.628d48","x":300,"y":640,"wires":[["deecbbf2.74ffb8"]]},{"id":"b76775bd.27e518","type":"debug","z":"8e3dae77.2b0e1","name":"JSON","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":560,"wires":[]},{"id":"deecbbf2.74ffb8","type":"function","z":"8e3dae77.2b0e1","name":"parseString","func":"msg.payload = JSON.parse(msg.payload);\nmsg.payload.node = msg.topic.split('/')[3]\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":640,"wires":[["b76775bd.27e518","cf1b1e9a.65ffb"]]},{"id":"c16166b6.8fc318","type":"mqtt out","z":"983d8884.0e0c58","name":"","topic":"","qos":"","retain":"","broker":"4a731906.628d48","x":990,"y":400,"wires":[]},{"id":"76a8db9a.e81884","type":"function","z":"983d8884.0e0c58","name":"Request all nodes to report","func":"msg = {}\nmsg.topic = \"/node/down/255\";\nmsg.payload = \"report\";\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":320,"wires":[["c16166b6.8fc318","39358a44.c0bcf6"]]},{"id":"f6bdab86.895d78","type":"telegram event","z":"983d8884.0e0c58","name":"Event","bot":"2f4e5a55.3805d6","event":"callback_query","autoanswer":"","x":150,"y":420,"wires":[["59c50f12.7dc56"]]},{"id":"a4e1d758.715558","type":"telegram sender","z":"983d8884.0e0c58","name":"JanusVPS","bot":"2f4e5a55.3805d6","x":730,"y":240,"wires":[[]]},{"id":"59c50f12.7dc56","type":"switch","z":"983d8884.0e0c58","name":"Answer","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"OPT STATUS","vt":"str"},{"t":"eq","v":"OPT SET","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":420,"wires":[["d489a649.1ce6b8"],["b290fc3c.fd972"]]},{"id":"d489a649.1ce6b8","type":"function","z":"983d8884.0e0c58","name":"Return status","func":"global.set(\"requested\", true)\nmsg.payload.options = false\nmsg.payload.content = \"Requesting...\"\nreturn [msg, msg];","outputs":2,"noerr":0,"x":530,"y":320,"wires":[["a4e1d758.715558"],["76a8db9a.e81884"]]},{"id":"b290fc3c.fd972","type":"function","z":"983d8884.0e0c58","name":"Reply requests","func":"global.set(\"requested\", true)\nmsg.payload.options = false\nmsg.payload.content = \"Light switch on requested...\"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":500,"wires":[["52c77317.75f77c","4a6101f9.b0eb2"]]},{"id":"52c77317.75f77c","type":"telegram sender","z":"983d8884.0e0c58","name":"JanusVPS","bot":"2f4e5a55.3805d6","x":730,"y":580,"wires":[[]]},{"id":"94a32c13.ceb9","type":"function","z":"983d8884.0e0c58","name":"Build options","func":"global.set(\"chatId\", msg.payload.chatId)\n\nmsg.payload.type = \"message\"\nmsg.payload.options = {\n    reply_markup: JSON.stringify({\n        inline_keyboard: [\n            [{\n                \"text\":\"Query\",\n                \"callback_data\":\"OPT STATUS\"\n            },\n            {\n                \"text\":\"Lights\",\n                \"callback_data\":\"OPT SET\"\n            }\n            ]\n        ]\n    }),\n    parse_mode : \"Markdown\"\n}\n\nmsg.payload.content = \"**Please select:**\"\n\nreturn msg","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["41d7576d.bf3568"]]},{"id":"ae7f4159.02549","type":"telegram command","z":"983d8884.0e0c58","name":"start","command":"/start","bot":"2f4e5a55.3805d6","x":170,"y":100,"wires":[["94a32c13.ceb9"],[]]},{"id":"41d7576d.bf3568","type":"telegram sender","z":"983d8884.0e0c58","name":"JanusVPS","bot":"2f4e5a55.3805d6","x":710,"y":80,"wires":[[]]},{"id":"39358a44.c0bcf6","type":"debug","z":"983d8884.0e0c58","name":"Send nodes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":320,"wires":[]},{"id":"cf1b1e9a.65ffb","type":"switch","z":"8e3dae77.2b0e1","name":"Node number","property":"payload.node","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":700,"y":640,"wires":[["a2566aff.511318"],["67d944e6.9e618c"],["37913740.4d89c8"]]},{"id":"67d944e6.9e618c","type":"function","z":"8e3dae77.2b0e1","name":"Make UPS message","func":"upTime = msg.payload.uptime / 60000;\ntemp = msg.payload.temperature / 1000;\nvoltage = msg.payload.voltages[0] / 1000;\ncurrent = (msg.payload.voltages[1] - 32768) / 100;\n\nfunction minutesToString(minFloat)\n{\n    now = minFloat * 60;\n\tif(now < 60)\n\t{\n\t\treturn  Math.round(now) + \"s\";\n\t}\n\telse\n\t{\n\t\tmin = now / 60;\n\t\tnow %= 60;\n\t\tif(min < 60)\n\t\t{\n\t\t\treturn Math.round(min) + \"m \" + Math.round(now) + \"s\";\n\t\t}\n\t\telse\n\t\t{\n\t\t\thour = min / 60;\n\t\t\tmin %= 60;\n\t\t\tif(hour < 24)\n\t\t\t{\n\t\t\t\treturn Math.round(hour) + \"h \" + Math.round(min) + \"m \" + Math.round(min) + \"s\";\n\t\t\t}\n\t\t\telse\n\t\t\t{\n\t\t\t\tday = hour / 24;\n\t\t\t\thour %= 24;\n\t\t\t\treturn Math.round(day) + \"d\" + Math.round(hour) + \"h\" + Math.round(min) + \"m\" + Math.round(now) + \"s\";\n\t\t\t}\n\t\t}\n\t}\n}\n\nupTime = minutesToString(upTime);\n\nmsg.payload = \"*UPS*\" +\n              \"\\nUp time: \" + upTime + \n              \"\\ntemp: \" + temp.toFixed(2) +\n              \"\\nVoltage: \" + voltage.toFixed(2) + \" V\" +\n              \"\\nCurrent: \" + current.toFixed(2) + \" mA\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":600,"wires":[["9f764455.ac1488"]]},{"id":"37913740.4d89c8","type":"function","z":"8e3dae77.2b0e1","name":"Make default message","func":"upTime = msg.payload.uptime / 60000;\ntemp = msg.payload.temperature / 1000;\n\nfunction minutesToString(minFloat)\n{\n    now = minFloat * 60;\n\tif(now < 60)\n\t{\n\t\treturn  Math.round(now) + \"s\";\n\t}\n\telse\n\t{\n\t\tmin = now / 60;\n\t\tnow %= 60;\n\t\tif(min < 60)\n\t\t{\n\t\t\treturn Math.round(min) + \"m \" + Math.round(now) + \"s\";\n\t\t}\n\t\telse\n\t\t{\n\t\t\thour = min / 60;\n\t\t\tmin %= 60;\n\t\t\tif(hour < 24)\n\t\t\t{\n\t\t\t\treturn Math.round(hour) + \"h \" + Math.round(min) + \"m \" + Math.round(now) + \"s\";\n\t\t\t}\n\t\t\telse\n\t\t\t{\n\t\t\t\tday = hour / 24;\n\t\t\t\thour %= 24;\n\t\t\t\treturn Math.round(day) + \"d\" + Math.round(hour) + \"h\" + Math.round(min) + \"m\" + Math.round(now) + \"s\";\n\t\t\t}\n\t\t}\n\t}\n}\n\nupTime = minutesToString(upTime);\n\nmsg.payload = \"*Node:*\" + msg.payload.node +\n              \"\\nUp time: \" + upTime + \n              \"\\ntemp: \" + temp.toFixed(2)\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":660,"wires":[["9f764455.ac1488"]]},{"id":"736a10fe.6407","type":"mqtt in","z":"8e3dae77.2b0e1","name":"","topic":"/pi","qos":"0","broker":"4a731906.628d48","x":290,"y":760,"wires":[["1ec8e3ef.7eebfc","edfb7fdf.83d28"]]},{"id":"1ec8e3ef.7eebfc","type":"debug","z":"8e3dae77.2b0e1","name":"Pi status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":560,"y":740,"wires":[]},{"id":"edfb7fdf.83d28","type":"function","z":"8e3dae77.2b0e1","name":"Prepare message","func":"content = \"Raspberry pi is:\" + msg.payload\n\nmsg.payload = {}\nmsg.payload.chatId =  global.get(\"chatId\");\nmsg.payload.type = \"message\"\nmsg.payload.options = {\"parse_mode\":\"Markdown\"}\nmsg.payload.content = content\n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":820,"wires":[["f8d5fa85.f52ab8"]]},{"id":"f24c4347.e5cf7","type":"ui_chart","z":"1413c39b.1b391c","name":"","group":"a7800071.8aa72","order":0,"width":"13","height":"6","label":"State vs Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":true,"ymin":"0","ymax":"1.5","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":980,"y":180,"wires":[[],[]]},{"id":"c45f4e32.2efe8","type":"function","z":"1413c39b.1b391c","name":"State to values","func":"function gateStateToNumber (state){\n    switch(state)\n    {\n        case 1:\n            return 0;\n        case 2:\n            return 1;\n        case 3:\n        case 4:\n            return 0.5;\n        case 5:\n        case 6:\n        case 7:\n        case 8:\n            return -1;\n        default:\n            return -1;\n            \n    }\n}\n\nstreetState = msg.payload.voltages[1];\nhouseState = msg.payload.voltages[0];\n\nstreet = {}\nstreet.series = \"Street\"\nstreet.label = \"Street\"\nstreet.payload = gateStateToNumber(streetState)\n\nhouse = {}\nhouse.series = \"House\"\nhouse.label = \"House\"\nhouse.payload = gateStateToNumber(houseState)\n\nreturn [street, house];","outputs":2,"noerr":0,"x":620,"y":180,"wires":[["f24c4347.e5cf7"],["f24c4347.e5cf7"]]},{"id":"a2566aff.511318","type":"subflow:1413c39b.1b391c","z":"8e3dae77.2b0e1","name":"HandleGate","x":1070,"y":520,"wires":[]},{"id":"f8d5fa85.f52ab8","type":"telegram sender","z":"8e3dae77.2b0e1","name":"JanusVPS","bot":"2f4e5a55.3805d6","x":830,"y":820,"wires":[[]]},{"id":"e17bd7a5.b13ca8","type":"subflow:acf214e0.5d8368","z":"1413c39b.1b391c","name":"","x":1130,"y":340,"wires":[]},{"id":"b92887c0.dc0648","type":"telegram sender","z":"acf214e0.5d8368","name":"JanusVPS","bot":"2f4e5a55.3805d6","x":970,"y":160,"wires":[[]]},{"id":"de6aedb9.d1f99","type":"function","z":"acf214e0.5d8368","name":"Prepare message","func":"content = msg.payload\n\nmsg.payload = {}\nmsg.payload.chatId =  global.get(\"chatId\");\nmsg.payload.type = \"message\"\nmsg.payload.options = {\"parse_mode\":\"Markdown\"}\nmsg.payload.content = content\n\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":160,"wires":[["b92887c0.dc0648"]]},{"id":"9f764455.ac1488","type":"subflow:acf214e0.5d8368","z":"8e3dae77.2b0e1","name":"","x":1340,"y":620,"wires":[]},{"id":"b5b7629d.46757","type":"debug","z":"1413c39b.1b391c","name":"Gates","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":460,"wires":[]},{"id":"e79e4ce3.1b032","type":"function","z":"1413c39b.1b391c","name":"Fill Gate message","func":"upTime = msg.payload.uptime / 60000;\ntemp = msg.payload.temperature / 1000;\n\nif(msg.payload.node === \"0\")\n{\n    temp -= 15;\n}\nif(msg.payload.node === \"1\")\n{\n    temp -= 12;\n}\n\n\nfunction gateStateToString (state){\n    switch(state)\n    {\n        default:\n            return \"Unknown\";\n        case 1:\n            return \"Closed\";\n        case 2:\n            return \"Open\";\n        case 3:\n            return \"Opening\";\n        case 4:\n            return \"Closing\";\n        case 5:\n            return \"Courtesy ON\";\n        case 6:\n            return \"Power Failure\";\n        case 7:\n            return \"Battery low\";\n        case 8:\n            return \"Obstruction\";\n            \n    }\n}\n\nstreetGate = gateStateToString(msg.payload.voltages[1]);\nhouseGate = gateStateToString(msg.payload.voltages[0]);\n\nfunction minutesToString(minFloat)\n{\n    now = minFloat * 60;\n\tif(now < 60)\n\t{\n\t\treturn Math.round(now) + \"s\";\n\t}\n\telse\n\t{\n\t\tmin = now / 60;\n\t\tnow %= 60;\n\t\tif(min < 60)\n\t\t{\n\t\t\treturn Math.round(min) + \"m \" + Math.round(now) + \"s\";\n\t\t}\n\t\telse\n\t\t{\n\t\t\thour = min / 60;\n\t\t\tmin %= 60;\n\t\t\tif(hour < 24)\n\t\t\t{\n\t\t\t\treturn Math.round(hour) + \"h \" + Math.round(min) + \"m \" + Math.round(now) + \"s\";\n\t\t\t}\n\t\t\telse\n\t\t\t{\n\t\t\t\tday = hour / 24;\n\t\t\t\thour %= 24;\n\t\t\t\treturn Math.round(day) + \"d\" + Math.round(hour) + \"h\" + Math.round(min) + \"m\" + Math.round(now) + \"s\";\n\t\t\t}\n\t\t}\n\t}\n}\n\nupTime = minutesToString(upTime);\n\nmsg.payload = \"*Gates*\" + \n                        \"\\nStreet: \" + streetGate +\n                        \"\\nHouse: \" + houseGate +\n                        \"\\nUp time: \" + upTime + \n                        \"\\ntemp: \" + temp.toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":300,"wires":[["e17bd7a5.b13ca8"]]},{"id":"d25ce82e.8ae918","type":"function","z":"1413c39b.1b391c","name":"Gate access","func":"streetGate = msg.payload.voltages[1];\nhouseGate  = msg.payload.voltages[0];\n\nfunction gateStateToString (state){\n    switch(state)\n    {\n        default:\n            return \"Unknown\";\n        case 1:\n            return \"Closed\";\n        case 2:\n            return \"Open\";\n        case 3:\n            return \"Opening\";\n        case 4:\n            return \"Closing\";\n        case 5:\n            return \"Courtesy ON\";\n        case 6:\n            return \"Power Failure\";\n        case 7:\n            return \"Battery low\";\n        case 8:\n            return \"Obstruction\";\n            \n    }\n}\n\nsend_node = null\nsend_message = null\nsend_delay = null\n\nfunction gateMoved(state)\n{\n    switch(state)\n    {\n        default: //Unknown\n        case 1: //Closed\"\n        case 5: //Courtesy ON\n        case 6: //Power Failure\n        case 7: //Battery low\n        case 8: //Obstruction\n            return false;\n        case 2: //Open\n        case 3: //Opening\n        case 4: //Closing\n            return true;\n    }\n}\n\n//when the gates started to move set access flag\nif(gateMoved(streetGate))\n    flow.set(\"streetAccess\", true)\n    \nif(gateMoved(houseGate))\n    flow.set(\"houseAccess\", true)\n    \n//when only street gate opened and closed\nif((streetGate === 1) && \n    (flow.get(\"streetAccess\") === true) &&\n    (flow.get(\"houseAccess\") === false))\n{\n    send_message = {}\n    send_message.payload = \"Street gate accessed\";\n    flow.set(\"streetAccess\", false)\n}\n    \n//when only house gate opened and closed\nif((houseGate === 1) &&\n    (flow.get(\"houseAccess\") === true) &&\n    (flow.get(\"streetAccess\") === false))\n{\n    send_message = {}\n    send_message.payload = \"House gate accessed\";\n    flow.set(\"houseAccess\", false)\n}\n\n//when both gates closed after access\nif((houseGate === 1) &&\n    (streetGate === 1) &&\n    (flow.get(\"streetAccess\") === true) &&\n    (flow.get(\"houseAccess\") === true))\n{\n    send_message = {}\n    send_message.payload = \"Gates accessed\";\n    flow.set(\"streetAccess\", false)\n    flow.set(\"houseAccess\", false)\n}\n\n//prepare delayed message to send when gates are left open\nif(streetGate === 2)\n{\n    send_delay = {}\n    send_delay.payload = \"Street gate left open\";\n}\n\nif(houseGate === 2)\n{\n    send_delay = {}\n    send_delay.payload = \"House gate left open\";\n}\n\n//reset delay when both gates closed\nif((streetGate === 1) && (houseGate === 1))\n{\n    send_delay = {}\n    send_delay.reset = 1;\n}\n\nif(global.get(\"requested\") === true)\n{\n   send_node = JSON.parse(JSON.stringify(msg));\n}\n\nglobal.set(\"requested\", false)\n\nreturn [send_node, send_message, send_delay] ;","outputs":3,"noerr":0,"x":590,"y":340,"wires":[["e79e4ce3.1b032"],["e17bd7a5.b13ca8"],["86af6839.338d28"]]},{"id":"fab5cb60.2ce638","type":"inject","z":"1413c39b.1b391c","name":"Both closed","topic":"","payload":"{\"voltages\":[1,1,0,0]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[[]]},{"id":"30ac6633.58bc1a","type":"inject","z":"1413c39b.1b391c","name":"House opening","topic":"","payload":"{\"voltages\":[3,1,0,0]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[[]]},{"id":"85644e2d.37fa4","type":"inject","z":"1413c39b.1b391c","name":"House open","topic":"","payload":"{\"voltages\":[2,1,0,0]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[[]]},{"id":"50c655f1.9a253c","type":"inject","z":"1413c39b.1b391c","name":"House Closing","topic":"","payload":"{\"voltages\":[4,1,0,0]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":340,"wires":[[]]},{"id":"c745adfd.3514f","type":"inject","z":"1413c39b.1b391c","name":"Street opening","topic":"","payload":"{\"voltages\":[1,3,0,0]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":400,"wires":[[]]},{"id":"8be155b3.da6868","type":"inject","z":"1413c39b.1b391c","name":"Street open","topic":"","payload":"{\"voltages\":[1,2,0,0]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":460,"wires":[[]]},{"id":"64b2e2c3.62eeac","type":"inject","z":"1413c39b.1b391c","name":"Street Closing","topic":"","payload":"{\"voltages\":[1,4,0,0]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":520,"wires":[[]]},{"id":"86af6839.338d28","type":"delay","z":"1413c39b.1b391c","name":"","pauseType":"delay","timeout":"180","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":380,"wires":[["e17bd7a5.b13ca8"]]},{"id":"186cb390.1f3e4c","type":"mqtt out","z":"983d8884.0e0c58","name":"","topic":"","qos":"","retain":"","broker":"4a731906.628d48","x":990,"y":500,"wires":[]},{"id":"4a6101f9.b0eb2","type":"function","z":"983d8884.0e0c58","name":"Set node 0 lights","func":"msg = {}\nmsg.topic = \"/node/down/0\";\nmsg.payload = \"light\";\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":500,"wires":[["186cb390.1f3e4c"]]}]
